body {
    font-family: sans-serif;
}

li {
      text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: cadetblue;
}

h2 {
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    color: blueviolet;
}

main p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: cadetblue;
}
